<h3 class="comments">comments:</h3>
<% @article.comments.each do |comment| %>
  <ul class="comments">
    <li class="login-user-image">
      <div>
        <%= image_tag comment.user.avatar %>
        <span class="header-user-name">
          <%= comment.user.username %>
        </span>
      </div>
      <div class="mt-2">
        <%= comment.body %>
      </div>
    </li>
  </ul>
<% end %>
<%= form_with model: [@article, @article.comments.build] do |form| %>
  <div class="field margin-lrtb">
    <%= form.text_field :body, placeholder: " comment", class: "new-article-form-title w-100" %>
  </div>
  <div class="actions margin-lrtb">
    <%= form.submit %>
  </div>
<% end %>