  <div class="container-fluid index-container-fluid">
    <div class="row" style="width: 100%">
      <div class="d-none d-xl-block col-xl-1 col-xxl-2   ">
        <%= render "layouts/full_screen_nevagation_bar" %>
      </div>

      <div class="d-none d-xl-block col-xl-8 col-xxl-7 border-start border-end justify-content-center ">
        <%= render "layouts/index_article_div" %>
        <div class="index_pagy_nave ">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>

      <div class="d-xl-none  col-sm-12 justify-content-center ">
        <%= render "layouts/index_article_div" %>
        <div class="index_pagy_nave ">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>

      <div class="d-none d-xl-block col-xl-3 ">
        <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class:"mt-5" %>
        <%= render "layouts/article_search" %>
      </div>
    </div>
    <%= render "layouts/small_screen_nevagation_bar" %>
  </div>







