<% @articles.each do |article| %>
  <div class="homepage-article-raper">
    <hr>
    <div class="d-flex">
      <% if article.user.avatar.attached? %>
        <%= image_tag article.user.avatar.representation(resize_to_limit: [20, 20]), class: "b-radius-50", width: 22 %>
      <% end %>
      <span class="header-user-name">
        <%= article.user.username %>
      </span>
      . <%= article.created_at.strftime("%b %d,%Y") %>
    </div>
    <div class="article-image-reper mt-2 d-none d-md-flex">
      <a class="index-article" target="_blank" href="<%= article_path(article) %>">
        <h2 class="index-article-title index-article-title-raper"><%= article.title %></h2>
        <div class="index-article-body-raper d-none d-md-block">
          <p class="index-article-body"><%= article.body %></p>
        </div>
      </a>
      <div class="index-article-image d-none d-md-block">
        <% if article.thumbnail.representable? %>
          <%= image_tag article.thumbnail.representation(resize_to_limit: [200, 100]) %>
        <% end %>
      </div>
    </div>
    <div class="small-screen-article-and-image-reper mt-2 d-md-none">
      <div class="index-article">
        <a class="index-article" target="_blank" href="<%= article_path(article) %>">
          <div class="small-screen-index-article-title">
            <h2 class="small-screen-index-article-title"><%= article.title %></h2>
          </div>
          <div class="index-article-body-raper d-none ">
            <p class="index-article-body"><%= article.body %></p>
          </div>
        </a>
      </div>
      <div class="index-small-screen-article-image">
        <% if article.thumbnail.representable? %>
          <%= image_tag article.thumbnail.representation(resize_to_limit: [200, 100]) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="index-pagy-nave ">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>